/* MONKEY IMAGES */

.monkey {
    width: 20%;
    max-width: 250px;
    margin: 10px;
    border: 5px solid #F3EFF5;
    box-shadow: 3px 3px 5px rgba(0,0,0,.6);
}

.monkey:hover {
    transform: scale(1.01);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/* ANIMATE CLASS */

.animate {
    animation: fadeIn 1s ease-in-out, flipIt 2s ease-in-out;
    transition: all .3s ease-in-out;
    animation-fill-mode: backwards;
}

/* ANIMATION TIMING */

#monkey01 {
    animation-delay: 0.2s;
}

#monkey02 {
    animation-delay: 0.4s;
}

#monkey03 {
    animation-delay: 0.6s;
}

#monkey04 {
    animation-delay: 0.8s;
}

#monkey05 {
    animation-delay: 1s;
}

#monkey06 {
    animation-delay: 1.2s;
}

#monkey07 {
    animation-delay: 1.4s;
}

#monkey08 {
    animation-delay: 1.6s;
}

#monkey09 {
    animation-delay: 1.8s;
}

#monkey10 {
    animation-delay: 2s;
}

#monkey11 {
    animation-delay: 2.2s;
}

#monkey12 {
    animation-delay: 2.4s;
}

/* MEDIA QUERIES */

/* 991px */

@media screen and (max-width: 991px) {
    .monkey {
        margin: 8px;
        border: 4px solid #F3EFF5;
        box-shadow: 2px 2px 4px rgba(0,0,0,.6);
    }
}

/* 798px */

@media screen and (max-width: 798px) {
    .monkey {
        margin: 7px;
        border: 4px solid #F3EFF5;
        box-shadow: 2px 2px 4px rgba(0,0,0,.6);
    }
}

/* 575px */

@media screen and (max-width: 575px) {
    .monkey {
        width: 25%;
    }
}

/* 385px */

@media screen and (max-width: 385px) {
    .monkey {
        margin: 5px;
        border: 2px solid #F3EFF5;
        box-shadow: 1px 1px 3px rgba(0,0,0,.6);
    }
}