@import url("https://fonts.googleapis.com/css?family=Acme");

.navbar-brand {
    font-family: 'norwesterregular', sans-serif;
    color: #ED1C24;
    font-size: 48px!important;
}

.nav-item {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}