.modal-body {
    font-size: 24px;
}

.modal-content {
    background-color: #ED1C24;
    color: #F3EFF5;
    font-family: 'Acme', sans-serif;
}

body.modal-open {
    margin-right: -16px!important;
    padding-right: 16px;
}

.btn-primary {
    color: #F3EFF5;
    background-color: #000F08;
    border-color: #000F08;
}

.btn-primary:hover {
    color: #000F08;
    background-color: #F3EFF5;
    border-color: #F3EFF5;
    box-shadow: none;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    color: #F3EFF5;
    background-color: #000F08;
    border-color: #000F08;
    box-shadow: none;
}

.close {
    color: #F3EFF5;
    text-shadow: none;
}

.close:hover,
.close:active {
    color: #000F08;
}

/* Media Queries */

@media screen and (max-width: 991px) {
    .modal-body {
        font-size: 22px;
    }
}

/* Tablet portrait */

@media screen and (max-width: 798px) {
    .modal-body {
        font-size: 20px;
    }
}

@media screen and (max-width: 575px) {
    .modal-body {
        font-size: 16px;
    }
    .modal-content {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    body.modal-open {
        margin-right: -6px!important;
        padding-right: 6px;
    }
}


/* Mobile phones */

@media screen and (max-width: 385px) {
    .modal-body {
        font-size: 12px;
    }
}